:root {
  --primary: #2563eb;
  --primary-dark: #052786;
  --primary-light: #e2edfc;
  --primary-light2: #f8fafc;
  --bg-card: #f5f7fa;
  --text-primary: #1e293b;
  --badge-red: #ef4444;
  --badge-orange: #f97316;
}
